@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body{
    font-family: "Roboto", San-Serif;
    background-color: #203d1f;
}
.foto{
    float: right;
}

.game {
    margin: 10px 0;
}
.cards {
    color: #fff;
    display: block;
    padding: 10px;
    background-color: #eeea;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 2px 23px #05160742;
    transition: 0.3s;
    background-color: #3d5a3e;
}
.cards:hover {
    box-shadow: 0 8px 30px #31f400;
}
.cards .container .column-geral:hover {
    box-shadow: 0 -10px 30px #f49f00;
    margin-top: -5px;
}
.cards .container .column-geral, .promocao{
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
}
.loteria{
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
}
.imgLoteria {
    border-radius: 10px;
    height: 50px;
    background-color: #ffffff;
    margin: 0 0 10px;
}
.imgLoteria img {
    height: 100%;
}
a{
    text-decoration: none;
}
