
/*============================= Body =====================================*/
body {
    background-color: transparent;
}
h4, h5 {
    font-size: 0.8em;
    text-align: left;
}

/*============================= Body =====================================*/
/*============================= Top ======================================*/
#top{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#top .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#top .logo img {
    display: flex;
    height: 110%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 1;
    margin-top: -25px;
	margin-left: 10px;				  
	transform: rotate(-10deg);						  
}
.navbar {
    padding: 20px;
    font-size: 20px;
}
.me-auto {
    border-radius: 10px;
    justify-content: center;
}
.container-fluid ul{
    margin-left: 10%;
}                                    

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-light .navbar-nav .divisoria {
    color: #ffffff;
    font-size: 30px;
}
#top .bg-light{
    background-color: #388824;
}
/*#top #top-bar .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}*/

.navbar-collapse {
    margin-left: 150px;
}
				   
/*============================= Top ======================================*/
/*============================= Banner ===================================*/
/*Arquivo styleBanner.css*/
/*============================= Banner ===================================*/
/*============================= Container ================================*/
/*Arquivo conteudo.css*/
.container{
    margin-top: 10px;
}
/*============================= Container ================================*/
/*============================= Sobre Nós ================================*/
.sobre, .faq{
    color: #ffffff;
}
/*============================= Sobre Nós ================================*/
/*============================== Footer ===================================*/
footer a {
    text-decoration: none;
}
footer .links {
    margin-top: 20px;
}
footer #redesSociais a,
footer #redesSociais i {
    color: #6c757d!important;
}
footer #redesSociais i {
    font-size: 18px;
}
.lotPromocao{
    display: none;
}
/*============================== Footer ===================================*/
@media only screen and (max-device-width: 980px) {
    #banner_geral,.bannermsg,
    .navbar-light .navbar-nav .divisoria,
    .redeSociais,.promocao {
        display: none;
    }
        
    #banner_mobile{
        margin-top: 25%;
        display: block;
    }
    .lotPromocao{
        width: 50px;
        height: 50px;
        z-index: 4;
        display: flex;
        margin-top: 15px;
        position: absolute;
        border-radius: 50%;
        background-color: #48d648;
    }
    .lotPromocao img{
        width: 100%;
    }
}
@media only screen and (max-device-width: 700px) {
    .navbar-light .navbar-toggler {
        color: rgba(204, 204, 204, 0.55);
        border-color: rgba(255, 255, 255, 0.658);
        border: 2px solid;
    }
    .navbar-light .navbar-toggler-icon {
        color: rgba(204, 204, 204, 0.55);
        stroke: rgba(204, 204, 204, 0.55);
    }
    #top .logo img {
        height: 60px;
        margin-left: -10px;
    }
    .navbar-collapse {
        margin-top: 10px;
        margin-left: 0px;
    }

    #banner_geral #carousel-inner img{
        height: 800px;
    }
    #banner_geral a img,
    #banner_mobile a img {
        height: 25px;
        width: 25px;
    }
    #banner_geral ol,
    #banner_mobile ol {
        display: none;
    }
    #msgHorario {
        display: block;
    }
    .banner-caption p {
        font-size: 12px;
    }
    section .banner-caption {
        position: inherit;
        margin: 5px 10px;
    }
    .conetudo {
        margin-top: 50px;
    }
    .historia {
        display: none;
    }
    .historia-footer {
        display: block;
    }
    .cards .container .column-geral {
        margin: 5px 0px;
    }
    h4, h5 {
        font-size: 0.8em;
    }
    .leading-page, .conetudo .col-md-4 {
        padding: 2px;
        margin: 0px;
    }
    .img-leading {
        padding: 2px;
        margin: 1px;
    }
}					